# Virtual Environment
venv/
.venv/
env/
ENV/

# Python caching and compiled files
__pycache__/
*.py[cod]
*$py.class

# Local environment variables
.env
.env.*

# Git
.git/
.gitignore

# IDE configurations
.idea/
.vscode/

# Docker files
Dockerfile
.dockerignore
